<div class="card">
  <div class="card-body">
    <div class="flex flex-row justify-between items-center">
      <h1 class="font-extrabold text-lg">最佳銷售</h1>
      <a href="#" class="btn-gray text-sm">觀看全部</a>
    </div>

    <table class="table-auto w-full mt-5 text-right">
      <thead>
        <tr>
          <td class="py-4 font-extrabold text-sm text-left">產品</td>
          <td class="py-4 font-extrabold text-sm">價格</td>
          <td class="py-4 font-extrabold text-sm">銷售量</td>
          <td class="py-4 font-extrabold text-sm">利潤</td>
        </tr>
      </thead>

      <tbody>
        <!-- item -->
        <tr class="">
          <td
            class="
              py-4
              text-sm text-gray-600
              flex flex-row
              items-center
              text-left
            "
          >
            <div class="w-8 h-8 overflow-hidden mr-3">
              <img src="img/food.svg" class="object-cover" />
            </div>
            高蛋白布朗尼
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-2"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            <span class="num-3"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-4"></span>
          </td>
        </tr>
        <!-- end item -->

        <!-- item -->
        <tr class="">
          <td class="py-4 text-sm text-gray-600 flex flex-row items-center">
            <div class="w-8 h-8 overflow-hidden mr-3">
              <img src="img/food.svg" class="object-cover" />
            </div>
            日常綜合維他命片
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-2"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            <span class="num-3"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-4"></span>
          </td>
        </tr>
        <!-- end item -->

        <!-- item -->
        <tr class="">
          <td class="py-4 text-sm text-gray-600 flex flex-row items-center">
            <div class="w-8 h-8 overflow-hidden mr-3">
              <img src="img/food.svg" class="object-cover" />
            </div>
            BCAA 支鏈胺基酸片
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-2"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            <span class="num-3"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-4"></span>
          </td>
        </tr>
        <!-- end item -->

        <!-- item -->
        <tr class="">
          <td class="py-4 text-sm text-gray-600 flex flex-row items-center">
            <div class="w-8 h-8 overflow-hidden mr-3">
              <img src="img/food.svg" class="object-cover" />
            </div>
            左旋麩醯胺酸 L-Glutamine
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-2"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            <span class="num-3"></span>
          </td>
          <td class="py-4 text-xs text-gray-600">
            $ <span class="num-4"></span>
          </td>
        </tr>
        <!-- end item -->
      </tbody>
    </table>
  </div>
</div>
