<div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">
  <!-- Browser Stats -->
  <div class="card">
    <div class="card-header">瀏覽器概況</div>

    <!-- brawser -->
    <div
      class="
        p-6
        flex flex-row
        justify-between
        items-center
        text-gray-600
        border-b
      "
    >
      <div class="flex items-center">
        <i class="fab fa-chrome mr-4"></i>
        <h1>google chrome</h1>
      </div>
      <div><span class="num-2"></span>%</div>
    </div>
    <!-- end brawser -->

    <!-- brawser -->
    <div
      class="
        p-6
        flex flex-row
        justify-between
        items-center
        text-gray-600
        border-b
      "
    >
      <div class="flex items-center">
        <i class="fab fa-firefox mr-4"></i>
        <h1>firefox</h1>
      </div>
      <div><span class="num-2"></span>%</div>
    </div>
    <!-- end brawser -->

    <!-- brawser -->
    <div
      class="
        p-6
        flex flex-row
        justify-between
        items-center
        text-gray-600
        border-b
      "
    >
      <div class="flex items-center">
        <i class="fab fa-internet-explorer mr-4"></i>
        <h1>internet explorer</h1>
      </div>
      <div><span class="num-2"></span>%</div>
    </div>
    <!-- end brawser -->

    <!-- brawser -->
    <div
      class="
        p-6
        flex flex-row
        justify-between
        items-center
        text-gray-600
        border-b-0
      "
    >
      <div class="flex items-center">
        <i class="fab fa-safari mr-4"></i>
        <h1>safari</h1>
      </div>
      <div><span class="num-2"></span>%</div>
    </div>
    <!-- end brawser -->
  </div>
  <!-- end Browser Stats -->

  <!-- Start Recent Sales -->
  <div class="card col-span-2 xl:col-span-1">
    <div class="card-header">近期銷售</div>

    <table class="table-auto w-full text-left">
      <thead>
        <tr>
          <th class="px-4 py-2 border-r">狀態</th>
          <th class="px-4 py-2 border-r">產品</th>
          <th class="px-4 py-2 border-r">價格</th>
          <th class="px-4 py-2">日期</th>
        </tr>
      </thead>
      <tbody class="text-gray-600">
        <tr>
          <td class="border border-l-0 px-4 py-2 text-center text-green-500">
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 px-4 py-2">治百病的奇蹟彗星炒飯</td>
          <td class="border border-l-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
        <tr>
          <td class="border border-l-0 px-4 py-2 text-center text-yellow-500">
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 px-4 py-2">還沒出的Apple iPhone 13</td>
          <td class="border border-l-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
        <tr>
          <td class="border border-l-0 px-4 py-2 text-center text-green-500">
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 px-4 py-2">不太好吃的彩虹粥</td>
          <td class="border border-l-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
        <tr>
          <td class="border border-l-0 px-4 py-2 text-center text-red-500">
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 px-4 py-2">拌過頭的滷肉飯</td>
          <td class="border border-l-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
        <tr>
          <td class="border border-l-0 px-4 py-2 text-center text-yellow-500">
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 px-4 py-2">大顆壽司</td>
          <td class="border border-l-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
        <tr>
          <td
            class="
              border border-l-0 border-b-0
              px-4
              py-2
              text-center text-green-500
            "
          >
            <i class="fad fa-circle"></i>
          </td>
          <td class="border border-l-0 border-b-0 px-4 py-2">
            可以睡的金榴蓮枕頭
          </td>
          <td class="border border-l-0 border-b-0 px-4 py-2">
            $<span class="num-2"></span>
          </td>
          <td class="border border-l-0 border-b-0 border-r-0 px-4 py-2">
            <span class="num-2"></span> minutes ago
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Recent Sales -->
</div>
