<div class="grid grid-cols-5 gap-5 mt-5 lg:grid-cols-2">
  <!-- status -->
  <div class="card col-span-1">
    <div class="card-body">
      <h5 class="uppercase text-xs tracking-wider font-extrabold">今天</h5>
      <h1 class="capitalize text-lg mt-1 mb-1">
        $<span class="num-3"></span>
        <span class="text-xs tracking-widest font-extrabold">
          / <span class="num-2"></span> 訂單</span
        >
      </h1>
      <p class="capitalize text-xs text-gray-500">
        ( $<span class="num-2"></span> 去年 )
      </p>
    </div>
  </div>
  <!-- status -->

  <!-- status -->
  <div class="card col-span-1">
    <div class="card-body">
      <h5 class="uppercase text-xs tracking-wider font-extrabold">昨天</h5>
      <h1 class="capitalize text-lg mt-1 mb-1">
        $<span class="num-3"></span>
        <span class="text-xs tracking-widest font-extrabold">
          / <span class="num-2"></span> 訂單</span
        >
      </h1>
      <p class="capitalize text-xs text-gray-500">
        ( $<span class="num-2"></span> 去年 )
      </p>
    </div>
  </div>
  <!-- status -->

  <!-- status -->
  <div class="card col-span-1">
    <div class="card-body">
      <h5 class="uppercase text-xs tracking-wider font-extrabold">上週</h5>
      <h1 class="capitalize text-lg mt-1 mb-1">
        $<span class="num-3"></span>
        <span class="text-xs tracking-widest font-extrabold">
          / <span class="num-2"></span> 訂單</span
        >
      </h1>
      <p class="capitalize text-xs text-gray-500">
        ( $<span class="num-2"></span> 去年 )
      </p>
    </div>
  </div>
  <!-- status -->

  <!-- status -->
  <div class="card col-span-1">
    <div class="card-body">
      <h5 class="uppercase text-xs tracking-wider font-extrabold">上個月</h5>
      <h1 class="capitalize text-lg mt-1 mb-1">
        $<span class="num-3"></span>
        <span class="text-xs tracking-widest font-extrabold">
          / <span class="num-2"></span> 訂單</span
        >
      </h1>
      <p class="capitalize text-xs text-gray-500">
        ( $<span class="num-2"></span> 去年 )
      </p>
    </div>
  </div>
  <!-- status -->

  <!-- status -->
  <div class="card col-span-1 lg:col-span-2">
    <div class="card-body">
      <h5 class="uppercase text-xs tracking-wider font-extrabold">三個月前</h5>
      <h1 class="capitalize text-lg mt-1 mb-1">
        $<span class="num-3"></span>
        <span class="text-xs tracking-widest font-extrabold">
          / <span class="num-2"></span> 訂單</span
        >
      </h1>
      <p class="capitalize text-xs text-gray-500">
        ( $<span class="num-2"></span> 去年 )
      </p>
    </div>
  </div>
  <!-- status -->
</div>
